
@{
    ViewBag.Title = "_LayoutLogin";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Banco Mi Prestamito</title>
    @Styles.Render("~/css")
    @Styles.Render("~/cssLocal")

</head>
<body class="m-0 vh-100 row justify-content-center align-items-center" style="background-color: rgb(234, 236, 237);">
    <div class="container body-content">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/js")
    @Scripts.Render("~/jsValidate")
    @RenderSection("scripts", required: false)
</body>
</html>


