<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Banco Mi Prestamito</title>
    @Styles.Render("~/css")
</head>
<body>
    <main>
        <div id="sidebarMenu" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <div class="row">
                <div class="col-9">
                    <i class=""></i>
                    <span class="fs-4">Mi Prestamito</span>
                </div>
                <div class="col-3" id="contenedorSidebar">
                    <button class="btn btn-outline-light position-absolute" style="z-index: 1;" type="button" data-toggle="sidebarMenu"><i id="iconoBtnSidebar" class="fa fa-minus"></i></button>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-white @if ( ViewBag.PaginaActual == "Bienvenida") { <text>active</text> }"
                       href='@Url.Action("Bienvenida", "MenuPrincipal")'>
                        <i class="fa fa-home"></i>
                        Inicio
                    </a>
                </li>
                @if (ViewBag.Permiso != null)
                { }
                <li class="nav-item">
                    <a class="nav-link text-white @if ( ViewBag.PaginaActual == "PuntoAtencion") { <text>active</text> }"
                       href='@Url.Action("PuntoAtencion", "MenuPrincipal")'>
                        <i class="fa fa-map-marker"></i>
                        Puntos de Atención
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i alt="" width="32" height="32" class="rounded-circle me-2 fa fa-user"></i>
                    <strong>Perfil</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Ajustes</a></li>
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                </ul>
            </div>

        </div>
        <div  id="cuerpoPagina">            
        </div>
        <div class="body-content container-fluid flex-grow-1 ">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Derechos Reservados Mi Prestamito</p>
            </footer>
        </div>

        <div class="divider-nav"></div>

    </main>  
    @Scripts.Render("~/js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.js")
    @RenderSection("scripts", required: false)
</body>

</html>
